<div id='design_position'>
<div id='design_header'>	
	<div id='design_title'>
  	<%=h @design.name %>
	</div>

	<div id='design_creator'>
		by <%= link_to @creator.name, @creator %>
	</div>
</div>

<%= link_to image_tag(@design.design_picture.url(:display), :id => :design_image), download_design_url(:design_id => @design.id) %>
</div>

<% unless session[:user_id] == @creator.id %>
	<ol id='score_list'>
		<li><%= link_to '5', rate_url(:rating => 5, :design_id => @design.id) %></li>
		<li><%= link_to '4', rate_url(:rating => 4, :design_id => @design.id) %></li>
		<li><%= link_to '3', rate_url(:rating => 3, :design_id => @design.id) %></li>
		<li><%= link_to '2', rate_url(:rating => 2, :design_id => @design.id) %></li>
		<li><%= link_to '1', rate_url(:rating => 1, :design_id => @design.id) %></li>
	</ol>
<% else %>
	<%= image_tag "noRating.png", :id => "no_rating" %>
<% end %>

<div id='below_design'>
<div id='design_info'>
	<div class='design_stat'>
		Rating: <%=h (@design.rating.to_f / 100) %>
	</div>
	<div class='design_stat'>
		Downloaded: <%=h @design.times_downloaded %> times
	</div>
</div>

<div id='design_actions'>
	<ul>
		<li><%= link_to_active "Download", download_design_url(:design_id => @design.id) %></li>
		<% if @creator.accepts_payment %>
			<li>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_donations">
					<input type="hidden" name="business" value="<%= @creator.email_address %>">
					<input type="hidden" name="lc" value="US">
					<input type="hidden" name="item_name" value="Tipping <%= @creator.name %> for threadfree art">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
					<input type="image" src="/images/donateBtn.png?1265050103" border="0" name="submit" alt="Tip the artist!">
					<img alt="" border="0" src="/images/donateBtn.png?1265050103" width="1" height="1">
				</form>
			</li>
		<% else %>
			<li>
				<%= link_to "No tips, please", @creator %>
			</li>
		<% end %>
		<li><%= link_to "Next Design", designs_path %></li>
	</ul>
</div>
</div>

<div id='design_description_display'>
	<p><%=h @design.description %></p>
</div>


<div id='design_comments'>

<% @comments.each do |comment| %>
	<div class='comment'>
		<div class='commenter_picture'>
			<%= link_to (image_tag comment.user.profile_picture.url, :border => 0), profile_url(:id => comment.user_id) %>
		</div>
		<div class='commenter_text'>	
			<div class='commenter_name'>
				<%= link_to comment.user.name, profile_url(:id => comment.user_id) %>
			</div>
			<div class='commenter_content'>
				<p>
					<%= comment.comment_text %>
				</p>
			</div>
		</div>
	</div>
<% end %>


<% if session[:user_id].nil? %>
	<div id='comment_notice'>
		<p>
			<b>You have to be a member to leave comments. Log in on the sidebar, or <%= link_to "create a username", create_user_url %>.
				It's easy and free!</b>
		</p>
	</div>
<% else %>
<div id='comment_form'>	
	<div class='comment'>
		<div class='commenter_picture'>
			<%= link_to (image_tag @current_user.profile_picture.url, :border => 0), profile_url(:id => session[:user_id]) %>
		</div>
		<div class='commenter_text'>	
			<div class='commenter_name'>
				<%= link_to @current_user.name, profile_url(:id => session[:user_id]) %>
			</div>
			<div class='commenter_content'>
				<% form_for @new_comment do |f| %>

						<%= f.text_area :comment_text, :cols => 80, :rows => 4 %>

						<%= f.submit "Post it!" %>

				<% end %>
			</div>
		</div>
	</div>
</div>



<% end %>
</div>