<h1>Listing comments</h1>

<table>
  <tr>
    <th>Comment text</th>
    <th>Design</th>
    <th>User</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.comment_text %></td>
    <td><%=h comment.design_id %></td>
    <td><%=h comment.user_id %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_comment_path %>