<h1>Change Password</h1>

<%= error_messages_for "update_user", :id => "error", :header_message => nil, :message => "There was a problem with your password update:" %>

<% form_for :change_password do |f| %>
	
	<div class="form_row">
		<%= f.label :password, "New Password:" %>
		<div class="text_field">
			<%= f.password_field :password %>
		</div>
	</div>
	
	<div class="form_row">
		<%= f.label :password_confirmation, "Confirm:" %>
		<div class="text_field">
			<%= f.password_field :password_confirmation %>
		</div>
	</div>
	
	<div class="form_row">
		<%= f.submit "Change it" %>
	</div>
	
<% end %>
	