<h1>Change Password</h1>

<%= error_messages_for 'update_user' %>

<% form_for :change_password do |f| %>
	
	<%= f.label :password, "New Password:" %>
	<%= f.password_field :password %>
	
	<%= f.label :password_confirmation, "Confirm:" %>
	<%= f.password_field :password_confirmation %>
	
	<%= f.submit "Change it" %>
	
<% end %>
	