<h1>Reset your password</h1>

<div id="create_user_form">
<% form_for :account_data, :url => reset_password_url do |f| %>

	<div class="form_row">
		<%= f.label :email_address, "Email Address" %>
		<div class="text_field">
			<%= f.text_field :email_address %>
		</div>
	</div>
	
	<div class="form_row">
		<b>OR</b>
	</div>
	
	<div class="form_row">
		<%= f.label :name, "Username" %>
		<div class="text_field">
			<%= f.text_field :name %>
		</div>
	</div>
	
	<div class="form_row">
		<%= f.submit "Send me a new password" %>
	</div>
	
<% end %>
</div>

<div id="create_user_info">
	<p>Please enter either the email address or the username associated with your account. There's no need do both, so just enter whichever you're more sure of. We'll reset your password and send that password to your email address.</p>
</div>